<!DOCTYPE html>
<html lang="pt-br">

  <%- include('partials/head.ejs')  %> 

  <body>
    <%- include('partials/header.ejs')  %>

    <div class="container-table">
      <table>
        <thead>
          <tr>
            <th>Nº</th>
            <th>Nome</th>
            <th>Nome do gerente</th>
            <th>CPF do gerente</th>
            <th>Data de entrada do gerente</th>
          </tr>
          <div class="line-throught"></div>
        </thead>
        <tbody>
          <tr>
            <th>25</th>
            <th>Paulo Sergio</th>
            <th>046.697.223-79</th>
            <th>18/06/1991</th>
            <th>Masculino</th>
          </tr>
          <tr>
            <th>25</th>
            <th>Paulo Sergio</th>
            <th>046.697.223-79</th>
            <th>18/06/1991</th>
            <th>Masculino</th>
          </tr>
        </tbody>
      </table>
    </div>
     
    <%- include('partials/foot.ejs') %>
  </body>
</html>