<!DOCTYPE html>
<html lang="pt-br">
  
  <%- include('partials/head.ejs') %> 

  <body>
    <main>
      <h1>Rendering application</h1>

      
    </main>
    <%-include('partials/foot.ejs')  %> 
  </body>
</html>