<!DOCTYPE html>
<html lang="pt-br">
  
  <%- include('partials/head.ejs') %> 

  <body>
    <div class="container-bg">
      <main>
        <div class="menu-options">
          <ul>
            <li>
              <a href="/funcionarios">
                <i class="fa-solid fa-users"></i>
                Funcionários
              </a>
            </li>
            <li>
              <a href="/departamentos">
                <i class="fa-solid fa-briefcase"></i>
                Departamentos
              </a>
            </li>
            <li>
              <a href="/veiculos">
                <i class="fa-solid fa-car"></i>
                Veículos
              </a>
            </li>
            <li>
              <a href="/motoristas">
                <i class="fa-solid fa-id-card"></i>
                Motoristas
              </a>
            </li>
            <li>
              <a href="/manutencoes">
                <i class="fa-solid fa-wrench"></i>
                Manutenções
              </a>
            </li>
            <li>
              <a href="/multas">
                <i class="fa-solid fa-file-invoice"></i>
                Multas
              </a>
            </li>
            <li>
              <a href="/solicitacoes">
                <i class="fa-solid fa-clipboard"></i>
                Solicitacoes
              </a>
            </li>
            <li>
              <a href="/locacoes">
                <i class="fa-solid fa-retweet"></i>
                Locacoes
              </a>
            </li>
          </ul>
        </div>
      </main>
    </div>
    <%-include('partials/foot.ejs') %> 
  </body>
</html>