<!DOCTYPE html>
<html lang="pt-br">
  
  <%- include('partials/head.ejs') %> 

  <body>
    <main>
      <div class="menu-options">
        <ul>
          <li>Funcionários</li>
          <li>Departamentos</li>
          <li>Veículos</li>
          <li>Motoristas</li>
          <li>Manutenções</li>
          <li>Multas</li>
          <li>Solicitacoes</li>
          <li>Locacoes</li>
        </ul>
      </div>
    </main>
    <%-include('partials/foot.ejs') %> 
  </body>
</html>