<!DOCTYPE html>
<html lang="pt-br">
  
  <%- include('partials/head.ejs') %> 

  <body>
    <main>
      <div class="menu-options">
        <ul>
          <li>
            <a href="/funcionarios">
              Funcionários
            </a>
          </li>
          <li>
            <a href="/departamentos">
              Departamentos
            </a>
          </li>
          <li>
            <a href="/veiculos">
              Veículos
            </a>
          </li>
          <li>
            <a href="/motoristas">
              Motoristas
            </a>
          </li>
          <li>
            <a href="/manutencoes">
              Manutenções
            </a>
          </li>
          <li>
            <a href="/multas">
              Multas
            </a>
          </li>
          <li>
            <a href="/solicitacoes">
              Solicitacoes
            </a>
          </li>
          <li>
            <a href="/locacoes">
              Locacoes
            </a>
          </li>
        </ul>
      </div>
    </main>
    <%-include('partials/foot.ejs') %> 
  </body>
</html>