<!DOCTYPE html>
<html lang="pt-br">

  <%- include('partials/head.ejs')  %> 

  <body>
    <%- include('partials/header.ejs')  %>
     
    <div class="container-table">
      <table>
        <thead>
          <tr>
            <th>Nº</th>
            <th>CNH</th>
            <th>Tipo CNH</th>
            <th>Vencimento</th>
            <th>Nome do portador</th>
            <th>Departamento</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>25</th>
            <th>20096856111</th>
            <th>048.897.220-00</th>
            <th>18/05/1960</th>
            <th>Antonio Marques Santos</th>
            <th>Manutencao</th>
          </tr>
          <tr>
            <th>25</th>
            <th>Paulo Sergio</th>
            <th>048.897.220-00</th>
            <th>25/04/1971</th>
            <th>Francisco Sergio Alencar</th>
            <th>Manutencao</th>
          </tr>
        </tbody>
      </table>
    </div>

    <%- include('partials/foot.ejs') %>
  </body>
</html>