<!DOCTYPE html>
<html lang="pt-br">

  <%- include('partials/head.ejs')  %> 

  <body>
    <%- include('partials/header.ejs')  %>
     
    <div class="container-table">
      <table>
        <thead>
          <tr>
            <th>Nº</th>
            <th>Fabricante</th>
            <th>Modelo</th>
            <th>Ano</th>
            <th>Categoria</th>
            <th>Nº de portas</th>
            <th>Farol</th>
            <th>Cambio</th>
            <th>Lugares</th>
            <th>Nº Chassi</th>
            <th>Nº Placa</th>
            <th>Combustível</th>
            <th>Tam. tanque</th>
            <th>Tanque atual</th>
            <th>Km</th>
          </tr>
          <div class="line-throught"></div>
        </thead>
        <tbody>
          <tr>
            <th>25</th>
            <th>Volkwagen</th>
            <th>Savero</th>
            <th>2018</th>
            <th>Carga</th>
            <th>2</th>
            <th>4</th>
            <th>Manual</th>
            <th>2</th>
            <th>20012568934700158</th>
            <th>HYP-3589</th>
            <th>Flex</th>
            <th>46 litros</th>
            <th>25 litros</th>
            <th>75.000</th>
          </tr>
          <tr>
            <th>25</th>
            <th>Volkwagen</th>
            <th>Savero</th>
            <th>2018</th>
            <th>Carga</th>
            <th>2</th>
            <th>4</th>
            <th>Manual</th>
            <th>2</th>
            <th>20012568934700158</th>
            <th>HYP-3589</th>
            <th>Flex</th>
            <th>46 litros</th>
            <th>25 litros</th>
            <th>75.000</th>
          </tr>
        </tbody>
      </table>
    </div>

    <%- include('partials/foot.ejs') %>
  </body>
</html>