<header class="header">
  <nav class="navigation-bar">
    <ul class="menu">
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/funcionarios">
          Funcionários
        </a>
      </li>
      <li>
        <a href="/departamentos">
          Departamentos
        </a>
      </li>
      <li>
        <a href="/veiculos">
          Veículos
        </a>
      </li>
      <li>
        <a href="/motoristas">
          Motoristas
        </a>
      </li>
      <li>
        <a href="/manutencoes">
          Manutenções
        </a>
      </li>
      <li>
        <a href="/multas">
          Multas
        </a>
      </li>
      <li>
        <a href="/solicitacoes">
          Solicitações
        </a>
      </li>
      <li>
        <a href="/locacoes">
          Locação para evento
        </a>
      </li>
    </ul>
  </nav>
  <div class="page-title">
    <span><%= title %> </span>
    <!--criar botao para barra de pesquisa-->
  </div>
</header>