<header class="header">
  <nav class="navigation-bar">
    <ul class="menu">
      <li>
        <a href="/">
          <i class="fa-solid fa-house-user"></i>
          Home
        </a>
      </li>
      <li>
        <a href="/funcionarios">
          <i class="fa-solid fa-users"></i>
          Funcionários
        </a>
      </li>
      <li>
        <a href="/departamentos">
          <i class="fa-solid fa-briefcase"></i>
          Departamentos
        </a>
      </li>
      <li>
        <a href="/veiculos">
          <i class="fa-solid fa-car"></i>
          Veículos
        </a>
      </li>
      <li>
        <a href="/motoristas">
          <i class="fa-solid fa-id-card"></i>
          Motoristas
        </a>
      </li>
      <li>
        <a href="/manutencoes">
          <i class="fa-solid fa-wrench"></i>
          Manutenções
        </a>
      </li>
      <li>
        <a href="/multas">
          <i class="fa-solid fa-file-invoice"></i>
          Multas
        </a>
      </li>
      <li>
        <a href="/solicitacoes">
          <i class="fa-solid fa-clipboard"></i>
          Solicitações
        </a>
      </li>
      <li>
        <a href="/locacoes">
          <i class="fa-solid fa-retweet"></i>
          Locação para evento
        </a>
      </li>
    </ul>
  </nav>
  <div class="page-title">
    <span><%= title %> </span>
    <!--criar botao para barra de pesquisa-->
    <!--criar botao de deslogar do sistema-->
  </div>
</header>