<header>
  <nav>
    <ul>
      <li>
        Home
      </li>
      <li>
        Funcionários
      </li>
      <li>
        Departamentos
      </li>
      <li>
        Veículos
      </li>
      <li>
        Motoristas
      </li>
      <li>
        Manutenções
      </li>
      <li>
        Multas
      </li>
      <li>
        Solicitações
      </li>
      <li>
        Locação para evento
      </li>
    </ul>
    <div>
      <span>Titulo dinamico da pagina</span>
      <!--criar botao para barra de pesquisa-->
    </div>
  </nav>
</header>