<header>
  <nav>
    <ul>
      <li>
        <a href="/">
          Home
        </a>
      </li>
      <li>
        <a href="/funcionarios">
          Funcionários
        </a>
      </li>
      <li>
        <a href="/departamentos">
          Departamentos
        </a>
      </li>
      <li>
        <a href="/veiculos">
          Veículos
        </a>
      </li>
      <li>
        <a href="/motoristas">
          Motoristas
        </a>
      </li>
      <li>
        <a href="/manutencoes">
          Manutenções
        </a>
      </li>
      <li>
        <a href="/multas">
          Multas
        </a>
      </li>
      <li>
        <a href="/solicitacoes">
          Solicitações
        </a>
      </li>
      <li>
        <a href="/locacoes">
          Locação para evento
        </a>
      </li>
    </ul>
    <div>
      <span>Titulo dinamico da pagina</span>
      <!--criar botao para barra de pesquisa-->
    </div>
  </nav>
</header>